.name-input {
  width: 40vw;
  height: 40px;
  margin-top: 200px;
  margin-left: 100px;
  font-size: 20px;
}

.progress-bar {
  width: 40vw;
  margin-left: 100px;
  height: 10px;
  margin-top: 5px;

}

.music-photo {
  position: fixed;
  top: 200px;
  right: 200px;
}
