.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .text-container {
    position: absolute;

    .line-container {
      display: flex;
      flex-direction: row;

      .line1 {
        font-size: 50px;
        border-right: 2px solid black;
      }

      .line2 {
        font-size: 50px;
        border-right: 0 solid black;
      }


      .line3, .line4 {
        font-size: 30px;
      }


      @keyframes typing1 {
        from { width: 0 }
        to { width: 182px }
      }

      @keyframes typing1-done {
        from { border-right: 2px solid black }
        to { border-right: 0 }
      }

      @keyframes typing2 {
        from { width: 0 }
        to { width: 812px }
      }

      @keyframes typing2-start {
        from { border-right: 0 }
        to { border-right: 2px solid black }
      }

      @keyframes typing3 {
        from { width: 0 }
        to { width: 486px }
      }

      @keyframes typing4 {
        from { width: 0 }
        to { width: 468px }
      }

      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: black; }
      }

      .line1 {
        animation:
          typing1 1s steps(6, end),
          blink-caret .75s step-end infinite,
          typing1-done 0.5s 1s;
      }

      .line2 {
        animation:
          typing2-start 0.1s 1s,
          typing2 2.5s steps(27, end),
          blink-caret .75s step-end infinite;
        animation-delay: 1.5s;
      }

      .line3 {
        animation:
          typing3 2s steps(27, end);
        animation-delay: 4.5s;
      }

      .line4 {
        animation:
          typing4 2s steps(26, end);
        animation-delay: 7s;
      }

      .line1, .line2, .line3, .line4 {
        margin: 5px 2px 5px 20px;
        font-family: "PT Mono";
        color: black;
        overflow: hidden;
        white-space: nowrap;
        width: 0;
        animation-fill-mode: forwards;
      }
    }
  }

  .button-container {
    position: absolute;
    bottom: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    @keyframes show-start-button {
      from { opacity: 0 }
      to { opacity: 1 }
    }

    .start-button {
      opacity: 0;
      width: 165px;
      height: 65px;
      font-size: 20px;
      animation:
        show-start-button 2s;
      animation-delay: 9s;
      animation-fill-mode: forwards;
    }
  }
}








