<div class="home-container">
  <img class="bg-image" src="https://www.billboard.com/files/styles/1696x952/public/media/quincy-bb22-backstage-pass-2018-fea-u-billboard-1500.jpg"
       alt="Image">


  <div class="text-container">

    <div class="line-container">
      <div class="line1">Hello!</div>
    </div>

    <div class="line-container">
      <div class="line2">Do you know about yourself?</div>
    </div>

    <div class="line-container">
      <div class="line3">This a personality analysis</div>
    </div>

    <div class="line-container">
      <div class="line4">based on machine learning.</div>
    </div>

  </div>

  <div class="button-container">
    <button class="start-button" mat-flat-button color="warn">Let's start!</button>
  </div>

</div>
